@import url("https://fonts.googleapis.com/css2?family=Asap:wght@200;300;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Asap", sans-serif;
}

/* NAVBAR */

.Navbar {
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e8e8e8;
  height: 12vh;
  width: 100vw;
  z-index: 100;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.372);
}

.Navbar ul {
  display: flex;
  gap: 1.5rem;
}

.Navbar ul li {
  list-style: none;
}

.Navbar ul li a {
  font-size: 1.8rem;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 900;
  color: #023854;
}

.Navbar ul li a:hover {
  color: #dd4d6f;
}
.Navbar i {
  font-size: 2.5rem;
  color: #023854;
}
.Navbar i:hover {
  color: #dd4d6f;
}

/* COVER */

#Home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023854;
  height: 100vh;
  width: 100vw;
}

#Home img {
  height: 719px;
  width: 850px;
}

#Home h1 {
  color: aliceblue;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 900;
  line-height: 3.5rem;
}

#Home p {
  font-size: 1.2rem;
  color: #dd4d6f;
  margin-top: 1rem;
}
.Start {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: aliceblue;
  background-color: #dd4d6f;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.5rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 4px #000000;
}
.Start:hover {
  background-color: #033e5c;
}

.Read {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: aliceblue;
  background-color: #033e5c;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1.5rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 4px #000000;
}

.Read:hover {
  background-color: #dd4d6f;
}

/* SHORTY */

.Shorty {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #023854;
  height: 20vh;
  width: 100vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.372),
    0 6px 20px 0 rgba(0, 0, 0, 0.297);
  gap: 8rem;
}

.Bit {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.Bit h2 {
  font-size: 5rem;
  color: #dd4d6f;
  font-weight: 900;
}
.Bit h3 {
  font-size: 1.6rem;
  color: aliceblue;
  text-transform: uppercase;
}

/* ACCEPS */

.Acceps {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #023854;
}

.Acceps h2 {
  font-size: 8rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #dd4d6f;
  line-height: 8.5rem;
  text-align: center;
}

.Acceps i {
  font-size: 10rem;
  color: aliceblue;
  margin-top: 1.5rem;
}

/* ABOUT */

#About {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #dd4d6f;
  gap: 6rem;
}

#About img {
  height: 700px;
}

#About h2 {
  font-size: 6rem;
  font-weight: 900;
  color: #023854;
  text-transform: uppercase;
}

#About p {
  color: aliceblue;
  font-size: 1.5rem;
}

.List {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

.List li {
  color: aliceblue;
  font-weight: 100;
  list-style: circle;
  list-style-type: style color;
}

#About button {
  font-size: 1.8rem;
  background-color: #023854;
  color: aliceblue;
  border: none;
  border-radius: 2rem;
  padding: 0.3rem 1rem 0.5rem 1rem;
  margin-top: 1rem;
  box-shadow: 2px 2px 4px #00000060;
}

/* Course */

#Course {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #023854;
}

#Course h2 {
  font-size: 1.8rem;
  text-transform: uppercase;
  color: aliceblue;
}

#Course span {
  font-size: 7rem;
  font-weight: 900;
  color: #dd4d6f;
}

.Course_Cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.Course_Card {
  display: flex;
  flex-direction: column;
  height: 23rem;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #dd4d6f;
  border-width: 0.2rem;
  padding: 1.8rem;
}

.Course_Card h3 {
  color: aliceblue;
  font-size: 2rem;
  text-transform: uppercase;
}

.Course_Card p {
  color: #dd4d6f;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.Course_Card button {
  background-color: #dd4d6f;
  color: aliceblue;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2.5rem;
  padding: 0.3rem 1rem 0.4rem 1rem;
}

#Course button {
  background-color: #dd4d6f;
  color: aliceblue;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 2.5rem;
  padding: 0.3rem 1rem 0.4rem 1rem;
  margin-top: 3rem;
}
